.course-header {
  display: flex;
  background: $clr-bg;
  color: $clr-text-light;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: stretch;
  align-items: center;

  .course-location {
    padding-left: 5px;
    font-weight: normal;
  }

  .course-link {
    flex-grow: 1;
    text-align: right;
    padding: 0 5px;
  }

  .course-favorite {
    padding: 0 15px 0 5px;
    font-size: 1.2em;
    .glyphicon {
      vertical-align: middle;
    }
  }
}

a.course-header {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    background: $clr-list-hover-dark-bg;
  }
}

.search-results {
  .course-header {
    background: $clr-list-odd-light-bg;
    color: $clr-text-dark;
    padding: 8px 5px;

    @media (min-width: $screen-tablet) {
      padding: 10px 15px;
    }

    .course-link {
      display: none;

      @media (min-width: $screen-tablet) {
        display: block;
      }
    }


    &:nth-child(even) {
      background: $clr-list-even-light-bg;
    }
  }

  a.course-header {
    &:hover {
      background: $clr-list-hover-light-bg;
    }
  }
}

.course-page-header {
  h1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    line-height: 1;
  }

  .course-location {
    font-size: 2em;
    line-height: 1;
  }

  .course-favorite {
    cursor: pointer;
    &:hover {
      color: $clr-accent;
    }
  }
}