.header {
  background: $clr-dark-bg;
  padding: 15px 0;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 40px;

    .menu {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .search {
      flex-grow: 1;
      margin: 0 0px 0 56px;
      max-width: 550px;

      @media (min-width: $screen-tablet) {
        margin: 0 60px 0 16px;
      }
    }
  }
}

.search {
  position: relative;

  .search-field {
    input {
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      box-shadow: none;
      height: 40px;
      font-size: 16px;
      line-height: 22px;
      padding: 9px 9px;
      outline: none;
      background: $clr-light-bg;
      color: $clr-text-dark;

      @media (min-width: $screen-tablet) {
        font-size: 18px;
        padding: 9px 15px;
      }
    }
  }

  .search-results {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    //padding: 10px 10px;
    background: $clr-light-bg;
    border-top: 2px solid $clr-accent;
    border-bottom: 6px solid $clr-accent;
    color: $clr-text-dark;

    .notification {
      margin: 20px 15px;
      text-align: center;
      font-size: 0.875em;
      font-weight: bold;
    }
    
    .progress {
      margin: 30px 20px;
    }
  }
}