$clr-bg:         #3c3c3c;
$clr-dark-bg:    #2b2b2b;
$clr-light-bg:      #ffF;
$clr-text-dark:     #333;
$clr-text-light:    #fff;
$clr-accent:          #19BD62;
$clr-list-odd-light-bg:   #fcfcfc;
$clr-list-even-light-bg:     #fff;
$clr-list-hover-light-bg:     #f2f2f2;

$clr-list-odd-dark-bg:   #262626;
$clr-list-even-dark-bg:     #2f2f2f;
$clr-list-hover-dark-bg:     #232323;

$screen-tablet: 768px;