.course-weather {
  .progress {
    margin: 40px 0;
  }
}

.weather-item-container {

  &:nth-child(odd) {
    .weather-item {
      background: $clr-list-odd-dark-bg;
    }
  }

  .weather-item {
    background: $clr-list-even-dark-bg;
    padding: 3px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    
    @media (min-width: $screen-tablet) {
      padding: 5px 25px;
      font-size: 1.2em;
    }

    &:hover {
      background: $clr-list-hover-dark-bg!important;
    }

    .weather-wind {
      letter-spacing: 0.07em;
      .glyphicon {
        margin-left: 0.7em;
      }
    }

    .weather-temperature {
      font-size: 1.2em;
      letter-spacing: 0.07em;
    }

    .weather-icon {
      img {
        display: block;
        width: 48px;
        height: auto;
      }
    }
  }
}

.current-weather-title {
  

  @media (min-width: $screen-tablet) {
    display: flex;
    justify-content: space-between;
  }

  .current-temperature {
    display: block;
    margin-top: 0.3em;
    letter-spacing: 0.07em;

    @media (min-width: $screen-tablet) {
      margin: 0;
    }
  }
}