@import "variables";

* {
  box-sizing: border-box;
}

body {
  background: $clr-bg;
  color: $clr-text-light;
}

.jumbotron {
  background: $clr-dark-bg;
}

@import "header";
@import "course";
@import "weather";


